* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 100vh;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}
#game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    width: 800px;
    height: 80vh;
}

h1 {
    margin-bottom: 1em;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    border-bottom: 1px solid red;
}

.grid-container {
    display: grid;
}

.grid-item {
    background-color: rgb(27, 27, 27);
    border: 0.1px solid #ccc;
    cursor: pointer;
}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-radius: 2em;
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    border: none;
}

.inventory {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    font-size: 10px;
}

.inventory-square {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    border: none;
    
}

.counter {
    text-align: center;
    margin: 10em;
    
}

.counter>span {
    margin: 5em;
    color: #1f1f1f;
 
}

#axe{
    background-image: url('../img/axe.png');
    
}
#pickaxe{
    background-image: url('../img/pickaxe.png');
}
#shovel{
    background-image: url('../img/shovel.png');
}

#part2 {
    background-color: #ffffff;
    width: 7em;
    height: 70ex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 20px;
    margin-left: 20px;
}

#resetButton{
    width: 60px;
    height: 30px;
    border-radius: 40px;
    font-size: 12px;
    background-color: rgb(247, 89, 89);
    color: aliceblue;
    border: none;
    font-weight: 600;
}

#rock{
    background-image: url('../img/rock.png');
}
#wood{
    background-image: url('../img/wood.png');
}
#leaf{
    background-image: url('../img/leaf.png');
}
#grass{
    background-image: url('../img/grass.png');
}
#soil{
    background-image: url('../img/soil.png');
}